/* stylelint-disable function-url-quotes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../../images/drinks.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
